nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    background-color: rgb(194, 159, 22);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: underline;
    color: black;
}

nav ul li a:hover {
    background-color: aqua;
}

.search {
    margin-left: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main img {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    border: 3px solid black;
}

footer pre {
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    font-weight: 1000;
}